<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="Pragma" content="no-cache">
  <link href="/home/senku/dev/rd626.neocities/assets/css/home.css" rel="stylesheet" type="text/css" media="all">


</head>

<body>
  <style>
    div.scroll {

      padding: 12px;
      background-color: whitesmoke;
      border: 1px dotted grey;
      height: 273px;
      overflow-x: hidden;
      overflow-y: auto;
      text-align: left;
      line-height: 15px;
    }

    div.scroll2 {


      height: 120px;
      overflow-x: hidden;
      overflow-y: auto;
      text-align: left;

    }
  </style>

  <div class="box">
    <div class="left">



      <div class="me" style="font-family:ms pgothic; letter-spacing:1px; font-size:13px;overflow-x: hidden;
        overflow-y: auto;">

        <div class="scroll">

          <marquee>
            <mark
              style="font-size:14px; font-family:ms  gothic;  letter-spacing:1px; background-color:white; padding:2px;">
              ...welcome to my net home...you are welcome to stay and look around...
            </mark>
          </marquee>
          <br><br>
          <mark style="color: black; background-color:white;">
            <small>
              <b>Mood: </b> idk man im tired <br>
              <b>Listening to: </b> Dutch Melrose - FORGET YOU <br>
              <b>Reading: </b> Berserk and Blame! <br>
              <b>Watching: </b> CMS movie <br>
              <b>Eating: </b> Chicken <br>
              <b>Drinking: </b> monster <br>
            </small>
          </mark>
          _____________________________________________ <br><br>
          Hello. I'm rd. This is a place for me to be totally unapologetic
          about me, my interests and tastes. I like to code
          and sometimes, when the motivation strikes, I try
          to go for a walk. One day I want to make someone happy
          and make them smile a brighter then they were before. <br><br>

          <b>other places:</b> <br><br>
          <a href="" target="_blank">twitter</a> <br>
          <a href="" target="_blank">art tumblr</a> <br>
          <a href="" target="_blank">soundcloud</a> <br>
          <a href="" target="_blank">youtube</a> <br>
          <a href="" target="_blank">kofi</a> <br><br>

          I am always open to helping with tech stuff so if you ever need help with anything, you can contact me.
          <br><br>


            telegram: <a href="https://t.me/senku_uuu" target="_blank"> senku_uuu</a>

        </div>
      </div>
    </div>





    <div class="right">
      <div class="sidepic">
        <img src="https://i.pinimg.com/1200x/02/0e/66/020e66e86091d950e8238b69551a65df.jpg"
          style="height: 300px ;opacity: 80%; border: 1px dotted black;">
      </div>
    </div>
  </div>




  <div class="updatebox"> //NOTES//
  </div>

  <div class="updates">

    <div class="text">
      <div class="scroll2">
        <mark style="background-color:white;">
          <b> 07/02/2026: </b> - its 06:33 in the morning, i haven't slept a bit working on shit site. man i'm having
          fun <br>
          <!-- <b> 1/20/2025: </b> - updated site n images, fixed stuff. about is under construction. no diary entry im tired!<br> -->
        </mark>
      </div>
    </div>
  </div>
  <br>
  <center>
    <small>rd 2026 // powered by coffee</small> <br />
    <small>
      <small>
        THIS SITE IS BEST VIEWED WITH A 1080 X 1920 OR HIGHER RESOLUTION.
      </small>
    </small>
  </center>
</body>

</html>
