<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is a corner for myself.">
  <link href="../assets/css/about.css" rel="stylesheet" type="text/css" media="all">
  <link rel="icon" type="image/png">

</head>

<body>
  <div class="box">

    <div class="left">


      <b>NAME:</b> rd <br>
      <b>BIRTH YEAR:</b> 2004 <br>
      <b>PASSION:</b> Programming <br>
      ....................................................<br>

      Under construction. who knew it'd be difficult to talk about ones self! <br>
      So enjoy these pictues for now!
      <br>


    </div>
    <div class="right">

      <center>
        <h2><b> // README </b></h2>
      </center>
    </div>
  </div>

</body>

</html>
