<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This is a corner for myself.">
  <link href="../assets/css/diary.css" rel="stylesheet" type="text/css" media="all">
  <link rel="icon" type="image/png">

</head>

<body>
  <div class="side">
    <div class="table">
      <a href="#13/02/2026">07/02/2026</a> <br>
      <a href="#07/02/2026">07/02/2026</a> <br>
    </div>
  </div>
  <div class="area">
    <div class="subject">
      <!-- ---------------------------------------------------------------- -->
      <center>
        <h3 id="13/02/2026">13/02/2026</h3>
      </center>
      <br><br>

      I have my exams starting next morning. I haven't studied anything so far.
      On top of that i have a lot of work to do and my job is pressuring me to
      finish a lot of stuff as well. 
      <br>
      AHHH fml!
      <br> <br>


      <center> <img src="https://i.pinimg.com/736x/0a/16/a9/0a16a911e6b1ac553dc93960ca9ec955.jpg" width="200"> </center>
      <br><br><br><br>


      <!-- ---------------------------------------------------------------- -->
      <center>
        <h3 id="07/02/2026">07/02/2026</h3>
      </center>
      <br><br>

      <b>Hey there</b>, this is my first time creating something like this.
      i've always wanted to have my own private site. and finally i do!
      this is just awesome
      <br><br>

      <div style="display: flex; align-items: flex-start; gap: 5px;">
        <div style="flex: 1;">
          <p>
            There's still a lot of stuff left to do. On top of that i have a
            freelance work going on. And guess what? Today is supposed to be
            the launch day. But here i am doing everything other than the stuff
            I should be doing.
          </p>
        </div>

        <img src="https://i.pinimg.com/736x/8f/ab/b6/8fabb6812d10e8bc2abf36d3cb4f3d92.jpg" style="width: 200px">
      </div>
      <br><br>

      <b>Elegance is in simplicity</b>. I am really enjoying this cozy little place
      that i can call mine.

      <center> <img src="https://i.pinimg.com/736x/8a/cd/77/8acd77e2cc0c3367685231a0af9d7308.jpg" width="400"> </center>
      <!-- ---------------------------------------------------------------- -->










      <!-- <center> -->
      <!--   <h3 id="2/13/2024">2/13/2024</h3> -->
      <!-- </center> -->
      <!-- <br> <br>I want to rebrand. <br><br>IN A NORMAL AND NOT DESCTRUCTIVE TO MY INTERNET ARCHIVE KIND OF WAY, OF -->
      <!-- COURSE. -->
      <!-- <br> <br>Not in the way we usually hear that term. And god, I hate that -->
      <!-- my first reflex was to use that word when I first wrote this, because -->
      <!-- it's not what I mean. My vocabulary has gradually been reduced to -->
      <!-- nothing buzzwords. You're not off the hook either, <i>OUR</i> vocabulary -->
      <!-- online is in goddamn shambles for a litany of reasons that I won't go -->
      <!-- into right now, or I'd be writing a fucking novel that I'd hope to be -->
      <!-- compensated to write for on this cyber bitch of an earth. <br><br> I -->
      <!-- don't need a professional to painfully remind me just how much being -->
      <!-- raised on social media has major consequences on the brain. Things were -->
      <!-- great before money came into the picture too, BECAUSE THINGS ARE ALWAYS -->
      <!-- GREAT BEFORE MONEY COMES INTO THE PICTURE, IF YOU HAVEN'T NOTICED YET -->
      <!-- ABOUT LITERALLY EVERYTHING THAT USED TO BE GOOD *COUGH COUGH* WORLD WIDE -->
      <!-- WEB. And it came pretty early too, at 17 years old. Because it wasn't -->
      <!-- enough that I was just someone who liked to draw. I had to give and give -->
      <!-- and reward and supply.<br><br>Survival was to accurately forecast the -->
      <!-- pulses of every call and response to the pieces I drew and shared, what I -->
      <!-- believed to be success on paper, success at life itself. I got very -->
      <!-- good at synergizing with the rhythm. I leared how to predict the waves -->
      <!-- and throbs of climactic collective activity and felt smug each time I -->
      <!-- landed a perfect hit. At the end of it, I was spread thin and forgot -->
      <!-- what I was doing anymore.<br><br> -->
      <!---->
      <!-- <center> <img src="https://strovi.neocities.org/flair/xav.png" width="400"> </center> <br> -->
      <!---->
      <!-- I don't want to *be* a brand. I want to display my work for whoevers -->
      <!-- eyes wished to wander. To me, my work is a static visual, it doesn't ask -->
      <!-- anything of the viewer at all, it is a choice to partake in the pieces I -->
      <!-- draw and for the viewer to decide to opt in or opt out, but the piece -->
      <!-- is indifferent either way, because it doesn't care what you think or -->
      <!-- take from it. I am allowed to be selfish with my work and it's a big -->
      <!-- shame it only took until now to realize that. It's sad even, that I feel -->
      <!-- the need to put a hard boundary to preserve what is the bare minimum of -->
      <!-- being an artist. Many things interrupted the serenity of never owing -->
      <!-- anyone anything. In the digital world, art simply existing is still not -->
      <!-- enough. Messages in the pieces were no longer things to be contemplated -->
      <!-- or discussed but instead, persuasions. Once it became a persuasion, I -->
      <!-- did not find it to be true to me. I grew up on performance to pay the -->
      <!-- bills. I relied on the audience to clap and laugh at desparate stunts -->
      <!-- and hope that my show would sell. Virality was becoming a drug. And to -->
      <!-- be perfectly and beautifully frank, I'm done paying that debt. <br><br> -->
      <!---->
      <!-- Okay, that might be a half-truth. Two years ago, I said I was going to -->
      <!-- become a cyber-monk because I literally do not care to prove my worth -->
      <!-- and ideas to 16 thousand people anymore. But I think still, even if I -->
      <!-- can't totally go off grid, I want to be able to have these tunnels left -->
      <!-- open for me, in the case that being online benefits me for my quality of -->
      <!-- life. Plus, I want my art to be seen. What artist doesn't. I can't quit -->
      <!-- this shit cold turkey. And for those who can and have successfully -->
      <!-- managed to wrangle their ethernet cables so it's power is generated from -->
      <!-- a running pig in a wheel, good for them, but as it stands right now, I -->
      <!-- simply can't just do that. If I can do anything to restore my power -->
      <!-- back, it'll be to stay true to myself, and recover the remaining parts -->
      <!-- of me that still enjoy drawing in its purest form. <br><br> -->
      <!---->
      <!-- I am going to continue posting to twitter *shudders* but I am not going -->
      <!-- to pander and make myself appealing anymore. Aesthetics no longer take -->
      <!-- priority here. This is also why I stopped drawing in color. Drawing for -->
      <!-- others for 7 straight years stunted my growth. My work gets ugly. I want -->
      <!-- to draw like I did when I was 14. I want the industry to stop breathing -->
      <!-- down my neck every time I prepare to post a piece. <br><br> -->
      <!---->
      <!-- <center> <img src="https://strovi.neocities.org/flair/roll.png" width="400"> </center> <br> -->
      <!---->
      <!-- Indie shit is the real shit, man. I mean industry shit is real too but I -->
      <!-- cant for the life of me justify turning my love into labour to that -->
      <!-- extent. Some people are built for it. I dont think I want to be. Not on -->
      <!-- gods green earth lol. But I know I am capable as hell. I had a whole -->
      <!-- phase where I tried to work in animation at netflix. I got pretty far in -->
      <!-- the selection process but I got a rejection email saying they have -->
      <!-- filled their roles already but I am still on their list. I was so beyond -->
      <!-- exhausted by the end of it that I knew so whole-heartedly I was going -->
      <!-- to hate every minute of working there. I now work on an indie project -->
      <!-- and it's literally a dream come true. We have so much power within our -->
      <!-- work and answer to no one. Which makes our work feel so raw and whole. <br><br> -->
      <!---->
      <!-- All I think about is how short life is. I worked hard, I still work -->
      <!-- hard. Working hard changed my mind and body. For the worse. I have -->
      <!-- arthritis now. At age 26. I don't think about "careers" anymore now. I -->
      <!-- don't think many careers are secure now anyways. It's not that I've -->
      <!-- given up, if anything I refuse to be wrung of my happiness. I was a -->
      <!-- starving artist and I think I earned this right. <br><br> I'm fortunate -->
      <!-- now, to finally be free of this. I can finally try now that I am secure -->
      <!-- and safe. I dont have to regress anymore!! I dont have to stagnate. My -->
      <!-- work doesn't have to be false anymore. As hard as it is going to be, I -->
      <!-- want to be an artist for <b>no reason.</b> <br><br> -->
      <!---->
      <!-- Anyway, I am getting married tomorrow. I'm so happy!!!!!!!!!! Wish us well! -->
      <!-- <br><br><br><br><br><br><br><br> -->
      <!---->
      <!---->
      <!---->
      <!-- <center> -->
      <!--   <h3 id="11/21/2023">11/21/2023</h3> -->
      <!-- </center> <br> <br> -->
      <!---->
      <!-- HI, it's been like 4 quintillion years since I've last -->
      <!-- updated. I was going to say that nothing crazy happened, but actually a -->
      <!-- lot did happen so idk why I'm downplaying the events in my crazy, wild, -->
      <!-- mid 20s life LOL. My 20s are not mid though, thats for sure. <br> <br> -->
      <!---->
      <!-- God, I don't fucking miss typing the break tags all the time in between paragraphs. <br><br> -->
      <!---->
      <!-- Anyhow, one thing that has probably dominated my life this -->
      <!-- year is just getting a new job. I mean I always kinda passively had this -->
      <!-- job, but now it's grown and I'm making a decent income. It's a webcomic -->
      <!-- called homestuck, you've probably never heard of it. <br><br> This -->
      <!-- version is a continuation of the original project which had ended some -->
      <!-- years ago, and the latest comic this time is titled "Beyond Canon" I got -->
      <!-- to do some <a href="https://www.homestuck2.com/story/409">official panels</a>, -->
      <!-- even some writing for it. Kinda crazy I'm contributing to that extent. -->
      <!-- But I do feel insanely lucky to help develop a story with characters -->
      <!-- I've loved since a teen. Our entire team is very dedicated, we really -->
      <!-- want to see the best for it.<br><br> -->
      <!-- <center><img src="diary_files/411.png" width="400"> <br> -->
      <!---->
      <!--   <img src="diary_files/420.gif" width="400"> -->
      <!---->
      <!-- </center> -->
      <!---->
      <!---->
      <!---->
      <!-- <br><br> -->
      <!---->
      <!-- And before I continue further, Homestuck is so good when you don't have a <b>bitch</b> in your ear telling you it -->
      <!-- sucks. <br><br> -->
      <!---->
      <!-- I like working on comics! I like innovative story telling. -->
      <!-- Of course I'm gonna do work for it. Honestly, it was great for its time, -->
      <!-- and not a lot of people give credit for the cultural impact it had. For -->
      <!-- example, one thing a lot of the newer fans haven't really truly -->
      <!-- experienced is that this story was brave enough to have gay characters -->
      <!-- during a very openly bigoted time period. It actually was one of the -->
      <!-- things that helped people discover themselves and truly feel represented -->
      <!-- while questioning. People still reference how homestuck was their -->
      <!-- gateway to the queer experience. And by that I mean, finally having gay -->
      <!-- characters that were not a gross punchline, or a stereotype. I'm not -->
      <!-- saying ALL media in the 2010s didn't have good gay rep, but for a -->
      <!-- webcomic, it was pretty bold for being incredibly popular and subject to -->
      <!-- homophobia. <br> <br> -->
      <!---->
      <!-- <center><img src="diary_files/rosemary.jpg" width="350"> -->
      <!---->
      <!--   <img src="diary_files/dirkjake.png" width="195"> <br> <br> -->
      <!---->
      <!-- </center> -->
      <!---->
      <!-- And I can't stress enough, if you were not there in the -->
      <!-- early 2010s, homophobia was very loud and gay intimacy was considered -->
      <!-- weird and unsavory to show outright. Which was why the trope "last -->
      <!-- minute lesbians" was a thing. Having to watch 4 seasons of a show to -->
      <!-- finally see precisely 10 seconds of queer rep. It was crumbs bro. But -->
      <!-- homestuck??? That shit was outright, they didn't waste any time. This -->
      <!-- was before gay marriage was even legal. So you can probably see how -->
      <!-- impactful that would have been to everyone. <br> <br> -->
      <!---->
      <!-- That aside, I think its a very fun story. As many people -->
      <!-- have very passionate complaints about Homestuck, I still think it had -->
      <!-- some net positives. That isn't to say there weren't valid criticism. I -->
      <!-- love critique, I love being critique'd. I think thats a nessacery and -->
      <!-- healthy discussion that needs to happen. <br><br> -->
      <!---->
      <!-- I love my team though, they are just insanely smart people -->
      <!-- and really love the story we inherited, we have so much to give now and I -->
      <!-- hope a lot of you will trust that you are in good hands with the -->
      <!-- direction of this story. <br><br> -->
      <!---->
      <!-- Other than that, since we finished a big work block in our -->
      <!-- schedule, I'm going on vacay next week to the creepy, mountain woods. -->
      <!-- It'll be very enjoyable. Hopefully, I won't get eaten by a bear, I need -->
      <!-- your positive energy. -->
      <!---->
      <!-- <br><br> Oh and one last thing, I'll be doing a whole -->
      <!-- re-vamp of my entire art gallery. Idk why I ever thought clearing cache -->
      <!-- upon refresh was a good idea, and not compressing any of my images, and -->
      <!-- not making them mobile friendly. God, that was stupid. And ambitious. -->
      <!-- Well, I think thats pretty much it. <br><br> -->
      <!---->
      <!-- <center>Have a good rest of your year everybody. Stay safe!!! <br><br> -->
      <!--   <img src="diary_files/melbourne-shuffle-kid.gif" width="150"> -->
      <!-- </center> -->
      <!---->
      <!-- <br><br><br><br><br><br><br> -->
      <!-- <br> -->






    </div>
  </div>





</body>

</html>
