body {
    margin: 0 auto;
    font-family: ms pgothic;
    text-shadow: 0 0 0px, 0 0 3px grey;
    font-size: 12px;
    letter-spacing: 1px;

    background-image: url(https://strovi.neocities.org/flair/collage2.png);
    background-repeat: repeat;
    background-position:center;
}

body a {
    text-decoration: none;
    color: black;

}

body a:hover {
    text-decoration: underline;
    color: grey;

}

.header {
    margin:0 auto ;
    padding:1px;
}

.main {
    margin: 0 auto;
    margin-top: 100px;
    width: 1200px;
}

.sidebar {
    margin: 0 auto;
    width: 180px;
    margin-left:28px;
    height: 700px;
    float: left;
}

.sidebarlinks {
    padding: 15px;
    background-color: white;
    line-height: 20px;
    border: dotted 1px black;
}


.content {
    margin: 0 auto;
    float: right;
    border:1px solid gray;
    width: 900px;
    height: 700px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 40px white;
}

iframe {
    margin: 0 auto;
    width: 900px;
    height: 700px;
    border: transparent;
}

.sidelefttitle {

    box-shadow: 0px 0px 30px white;
    background-color: #f1f3f4;
    padding: 5px;
    border: 1px dotted black;
    text-align: left;

    font-family: monospace;
    letter-spacing: 2px;
    text-shadow: 0 0 0px, 0 0 3px grey;

    font-size: 12px;
    font-weight: bold;
    color: black;
}

.message {
  
    background-color: white;
    border: 1px dotted black;
    padding:10px;
}
.musicbox {
    width: 180px;
    border: 1px dotted black;
    background-color: #f1f3f4;
    margin-top: 10px;
    margin-bottom: 10px;
}

audio {
    border-top:dotted black 1px;
    width: 180px;
    height: 15px;
}
